<div class="container">
  <div class="container-heading"><h1>File Upload and Routing</h1></div>

  <div class="file-upload">
    <label for="fileInput" class="custom-file-input">Choose File</label>
    <input id="fileInput" type="file" (change)="onFileSelected($event)" />
    <button (click)="uploadFile()">Upload</button>
    <button (click)="previewFile()">Preview File</button>
    <button (click)="addEsignTags()">Add Esign Tags</button>
    <button (click)="submitEsign()">Submit to Esign</button>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
